# 初めに

【日付】2021/10/18
問題はどこから解いてもエラーはでないようになっている(はずです)。<br>
問題にはすべて見出しがついており、辞書のように逆引きでの使用もできます。

問題で使用するデータセットは以下を参考に一部加工を加えたものです。<br>
・Kaggle Home Credit Default Risk<br> 
URL: https://www.kaggle.com/c/home-credit-default-risk<br><br>
・UCI machine learning repository No.352<br>
URL: http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

# 事前準備
以下の1つ目と2つ目のセルは必要な場合事前に実行してください。<br>
3つ目のセルはDataFrameを初期化する関数です。ノックを始める前に実行しておいてください。

In [ ]:
# Google Drive上にアップロードし、Colabで本コードを使用する場合はDriveをマウントする
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# カレントディレクトリを本コードの置いてあるディレクトリに指定
%cd /content/drive/MyDrive/project/basic_pandas-x-knocks/

In [ ]:
import pandas as pd
def initialize(flag=0):
    if flag==0: return pd.read_csv('./data/main.csv')
    elif flag==1: return pd.read_csv('./data/add.csv')
    elif flag==2: return pd.read_excel('./data/data.xlsx')

# データの読み込み・確認

### pandasインポート

In [ ]:
# pandasをpdという名でインポート

### pandasのversion確認

In [ ]:
# インストールしているpandasのバージョンを確認

### csvファイルの読み込み

In [ ]:
# dataディレクトリ内のmain.csv読み込んでデータフレームを作成し、dfという変数に格納


# dataディレクトリ内のadd.csv読み込んでデータフレームを作成し、addという変数に格納

### excelファイルの読み込み

In [ ]:
# dataディレクトリ内のdata.xlsx読み込んでデータフレームを作成し、df_aという変数に格納
# 読み込みの際に、事前に型を以下のように指定する
"""
    'InvoiceNo':   'object',
    'StockCode':   'object',
    'Description': 'object',
    'Quantity':    'int8',
    'InvoiceDate': 'object',
    'UnitPrice':   'float16',
    'CustomerID':  'object',
    'Country':     'object'
"""

### 先頭行の出力

In [ ]:
# dfの先頭3行を表示
df = initialize(0)  # 初期化

### 末尾行の出力

In [ ]:
# dfの末尾から3行を表示
df = initialize(0)  # 初期化

### データポイントをランダムにサンプリングして出力

In [ ]:
# dfからランダムに7行出力
df = initialize(0)  # 初期化

### DataFrameのサイズ確認

In [ ]:
# dfのサイズを表示
df = initialize(0)  # 初期化

### DaraFrameのレコード数確認

In [ ]:
# dfのレコード数を出力
df = initialize(0)  # 初期化

### DataFrame内のレコード数、各列のデータ型、欠損値の有無を確認

In [ ]:
# dfのカラムのデータ型と欠損値でない値の総数、メモリ使用量をすべて出力
df = initialize(0)  # 初期化

# Label

### DataFrameの列名の取得

In [ ]:
# dfのcolumn名をlist形式で取得
df = initialize(0)  # 初期化

### DataFrameのindex名の取得

In [ ]:
# dfのindex名一覧をndarray形式で取得
df = initialize(0)  # 初期化

### column名をすべて変更

In [ ]:
# column名をno1～no11というstr型の名前にすべて変更する
# ヒント：リスト内包表記を使用すると簡単
df = initialize(0)  # 初期化

### column名の一部変更

In [ ]:
# カラム名CODE_GENDERをGENDERに変更する
df = initialize(0)  # 初期化

# データ型

### 任意の列のデータ型を確認

In [ ]:
# dfのAMT_INCOME_TOTAL列のデータ型を出力
df = initialize(0)  # 初期化

### 複数列のデータ型を確認

In [ ]:
# dfのAMT_INCOME_TOTAL列とFLAG_OWN_CAR列のデータ型を出力
df = initialize(0)  # 初期化

### 任意のデータ型の列のみ抽出

In [ ]:
# 文字列型(object型)の列のみ表示
df = initialize(0)  # 初期化

### データ型を変換

In [ ]:
# dfのFLAG_MOBIL列のデータ型を文字型に変換する
df = initialize(0)  # 初期化

# 各columnのデータの確認

### 任意の列のユニーク(一意)な要素を確認

In [ ]:
# dfのCODE_GENDER列のユニークな要素を確認
df = initialize(0)  # 初期化

### 各列のユニークな要素の数を確認

In [ ]:
# dfの各列のユニークな要素の数を出力
df = initialize(0)  # 初期化

### 任意の列のユニークな要素の数とその出現回数を確認

In [ ]:
# dfのCNT_CHILDREN列の要素と出現回数の確認
df = initialize(0)  # 初期化

# データの取り出し

### 任意の１つの列の取り出し

In [ ]:
# dfのTARGETの列のみ表示
df = initialize(0)  # 初期化

In [ ]:
# dfの左から3番目の列のみ表示
df = initialize(0)  # 初期化

### 複数の列の表示

In [ ]:
# dfのTARGET列とCODE_GENDER列のみ表示
df = initialize(0)  # 初期化

In [ ]:
# dfのTARGET列とCODE_GENDER列までの列を表示
df = initialize(0)  # 初期化

In [ ]:
# dfの3列目と8列目のみ表示
df = initialize(0)  # 初期化

In [ ]:
# dfの2列目から5列までの列を表示
df = initialize(0)  # 初期化

### 任意の１つのデータポイントの取り出し

In [ ]:
# dfの上から4番目のデータポイントを表示
df = initialize(0)  # 初期化

### 複数のデータポイントの取り出し

In [ ]:
# dfのAMT_INCOME_TOTAL列のindexが3から10まで表示
df = initialize(0)  # 初期化

In [ ]:
# dfの7列目のindexが3から10まで表示
df = initialize(0)  # 初期化

### 条件検索

In [ ]:
# CODE_GENDER列が'F'かつAMT_INCOME_TOTAL列が500000以上のデータポイントを表示
df = initialize(0)  # 初期化

# DataFrameの操作

### DataFrameのコピーを作成

In [ ]:
# dfのコピーをdf_copyに格納し、df_copyの先頭5行を表示
df = initialize(0)  # 初期化

### 特定の場所にデータを代入

In [ ]:
# dfのTARGET列のindex3に40を代入(locを使用)し、先頭5行を表示
df = initialize(0)  # 初期化

In [ ]:
# dfのTARGET列のindex3に20を代入(ilocを使用)し、先頭5列を表示
df = initialize(0)  # 初期化

### データの置き換え

In [ ]:
# CODE_GENDER列のMを0に、Fを1に置き換え先頭5列を表示
df = initialize(0)  # 初期化

### 小数点以下を丸める

In [ ]:
# REGION_POPULATION_RELATIVE列の数値の小数点以下3桁に丸める
df = initialize(0)  # 初期化

### columnを追加

In [ ]:
# dfに要素がすべて1のTESTという列を追加する
df = initialize(0)  # 初期化

### カラムを文字列としての結合

In [ ]:
# dfのTEST列にCODE_GENDER列の値とTARGET列の値の間に'_'を入れた文字列を代入する
# 例) M_1
df = initialize(0)  # 初期化

### 行列の入れ替え

In [ ]:
# dfの行と列を入れ替えてdf_tmpという変数に格納する
df = initialize(0)  # 初期化

### One-Hot-Encording

In [ ]:
# CODE_GENDER列をOne-Hot-Encordingしたものにdfを更新し、先頭5行を表示
df = initialize(0)  # 初期化

### ラムダ式による列要素毎の処理

In [ ]:
# dfのAMT_INCOME_TOTAL列の各要素の対数を取り、dfのLOG_AMT_INCOME_TOTALに代入し先頭3列を出力
# 対数の計算にはnp.log(x+1)を使用する(log(0)は定義できないため)
df = initialize(0)  # 初期化
import numpy as np

### 値のシフト

In [ ]:
# dfのSK_ID_CURRの要素を一つずつ上にずらしてSK_ID_CURR列に代入する
df = initialize(0)  # 初期化

# 削除

### 列の削除

In [ ]:
# dfのCODE_GENDER列を削除
df = initialize(0)  # 初期化

### 行の削除

In [ ]:
# dfの3行目を削除
df = initialize(0)  # 初期化

# ソート

### 任意の一列で昇順ソート

In [ ]:
# dfのAMT_INCOME_TOTALの列で昇順ソートして表示
df = initialize(0)  # 初期化

### 任意の一列で降順ソート

In [ ]:
# dfのAMT_INCOME_TOTALの列で降順ソート表示
df = initialize(0)  # 初期化

### 複数列でソート

In [ ]:
# dfのCNT_CHILDRENの列で昇順ソートし、同一CNT_CHILDREN内でAMT_INCOME_TOTALが昇順ソートされるように表示
df = initialize(0)  # 初期化

### Dataframeをランダムに並び替えて、index番号を振り直す

In [ ]:
# dfをランダムに並び替えて、index番号を振り直したものを表示する
df = initialize(0)  # 初期化

# 欠損値

### 欠損値の確認

In [ ]:
# dfの各カラム毎の欠損値数を降順に表示
df = initialize(0)  # 初期化

### 欠損値を埋める

In [ ]:
# OWN_CAR_AGE列の欠損値を文字列型'non-data'に置き換える
df = initialize(0)  # 初期化

### 欠損値があるデータポイントを削除

In [ ]:
# 欠損値が一つでも含まれるデータポイントを削除
df = initialize(0)  # 初期化

# 重複データ

### 重複している行数を確認

In [ ]:
# dfのデータポイントで重複している数を出力
# ※今回のデータは重複がない
df = initialize(0)  # 初期化

In [ ]:
# dfのデータポイントで重複している行を削除する
# ※今回のデータは重複がないので元のdfが返ってくる
df = initialize(0)  # 初期化

# DataFrameの結合

### 左結合

In [ ]:
# dfとaddを結合キーをSK_ID_CURR列として左結合したものを代入する
df = initialize(0)      # 初期化
add = initialize(1)     # 初期化

### 内部結合

In [ ]:
# dfとaddを結合キーをSK_ID_CURR列として内部結合したものを代入する
df = initialize(0)      # 初期化
add = initialize(1)     # 初期化

### DataFrameの付け足し

In [ ]:
# dfの下にaddを付け加える
df = initialize(0)      # 初期化
add = initialize(1)     # 初期化

# 統計量

### 基本統計量

In [ ]:
# dfのAMT_INCOME_TOTAL列の平均、中央値、合計、最大値、最小値、最頻値をそれぞれ出力
df = initialize(0)      # 初期化

### 列内の最大値、最小値のデータポイント取得

In [ ]:
# dfのAMT_INCOME_TOTAL列の最大値、最小値の行名(index番号)を出力
df = initialize(0)      # 初期化

### 要約統計量

In [ ]:
# dfのAMT_INCOME_TOTAL列の要約統計量を出力
df = initialize(0)      # 初期化

### 相関係数

In [ ]:
# dfの各列間の(Pearson)相関係数を確認
df = initialize(0)      # 初期化

### 分位点

In [ ]:
# dfのAMT_INCOME_TOTAL列の0、25、50、75、100パーセンタイルを取得
df = initialize(0)      # 初期化

### groupby

In [ ]:
# dfのCODE_GENDERでグルーピングして、それぞれのAMT_INCOME_TOTALの最大値を出力
df = initialize(0)      # 初期化

In [ ]:
# dfのCODE_GENDERでグルーピング
# さらにCODE_GENDER毎にNAME_CONTRACT_TYPEでグルーピング
# 各グループ内の平均と分散を出力
# さらに出力を見やすくするためにindexをリセットする
df = initialize(0)      # 初期化

### pivot_table

In [ ]:
# indexをCODE_GENDER、columnsをNAME_CONTRACT_TYPEとし、AMT_INCOME_TOTALの平均を集計したpivot tableを作成
# 平均にはnp.meanを使用する
df = initialize(0)      # 初期化
import numpy as np

# pandas plot

### ヒストグラム

In [ ]:
# dfのAMT_INCOME_TOTAL列のヒストグラムを作成
df = initialize(0)      # 初期化

### 棒グラフ

In [ ]:
# AMT_INCOME_TOTAL列の最初の10列で棒グラフを作成
df = initialize(0)      # 初期化

### 積み上げ棒グラフ

In [ ]:
# FLAG_MOBILL列とCNT_CHILDREN列の先頭15行で積み上げ棒グラフを作成
# ※可視化の練習で、グラフに意味はないです
df = initialize(0)      # 初期化

### 散布図

In [ ]:
# AMT_INCOME_TOTAL列とREGION_POPULATION_RELATIVE列で散布図を作成
df = initialize(0)      # 初期化

# 日付データ

### datetime型に変換

In [ ]:
# df_aのInvoiceDate列をdatatime型に変換する
df_a = initialize(2)      # 初期化

### dateti抽出me型のデータから年月日をそれぞれ抽出

In [ ]:
# df_aのInvoiceDate列からYear、Month、Day列をそれぞれ追加する
# df_aは初期化されているのでdatatime型に変換してから取り組んでください
df_a = initialize(2)      # 初期化


# ファイル出力

### csvファイルに出力

In [ ]:
# dfを行番号、列番号を削除してoutput.csvという名前で出力
# 出力先は任意
df = initialize(0)      # 初期化

### pickleファイルに出力

In [ ]:
# dfを行番号、列番号を削除してsave_df.pllという名前で出力
# 出力先は任意
df = initialize(0)      # 初期化

# 番外編：文字列変換

In [ ]:
# 文字変換
df['NAME_CONTRACT_TYPE'].str.upper()      # すべて大文字に
df['NAME_CONTRACT_TYPE'].str.lower()      # すべて小文字に
df['NAME_CONTRACT_TYPE'].str.rstrip()     # 文字列の右側空白削除
df['NAME_CONTRACT_TYPE'].str.strip()      # 文字列の両端空白削除
df['NAME_CONTRACT_TYPE'].str.lstrip()     # 文字列の左側空白削除

df['NAME_CONTRACT_TYPE'].str.replace('Cash loans', 'Casg')  # 文字の置き換え(Cash loansをCashに置き換える)